<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<div class="login">

    <h1>Ingresa</h1>
  
  <div class="login-form">
    <h3>Usuario:</h3>
    <input type="text" placeholder="Username" name="userName"/><br>
    <h3>Contraseña:</h3>
    <input type="password" placeholder="Password" name="password"/>
    <br>
    <input type="button" value="Ingresar" class="login-button" />
    <br>
    
    <br>
    <a routerLink="registro">Registrate</a>
    <br>
    
  </div>
</div>



<router-outlet></router-outlet>
